<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img src="../../../assets/ps-logo.png" alt="Playstation Logo" width="140px" height="32px">
  </div>
  <div class="menu-bar__item">
    <ul>
      <li><a href="https://store.playstation.com/pt-br/pages/latest">Novidades</a></li>
      <li><a href="https://store.playstation.com/pt-br/pages/collections">Coleções</a></li>
      <li><a href="https://store.playstation.com/pt-br/pages/deals">Ofertas</a></li>
      <li><a href="https://store.playstation.com/pt-br/pages/subscriptions">Assinaturas</a></li>
    </ul>
  </div>
  <div class="menu-bar__github">
    <a href="https://github.com/elainefs">
      <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpngimg.com%2Fuploads%2Fgithub%2Fgithub_PNG80.png&f=1&nofb=1&ipt=3a3a87b79c27c8372442de9d8b9d54c5d23602d17d05064ef94ffe7c63180daf&ipo=images"
        alt="" width="32px" height="32px">
    </a>
  </div>
</div>