<div class="home__container">
  <app-card gameCover="assets/bt-1.jpg" gameLabel="Digital" gameType="PS4" gamePrice="R$ 78,99"></app-card>

  <app-card gameCover="assets/ac-cover.jpg" gameLabel="Digital" gameType="Digital | PS3 | PS4 | PS5" gamePrice="R$ 199,99"></app-card>

  <app-card gameCover="assets/bt-4.jpg" gameLabel="Exclusive" gameType="PS4 | PS5" gamePrice="R$ 99,99"></app-card>

  <app-card gameCover="assets/bt-hardline.jpg" gameLabel="New" gameType="PS3 | PS5" gamePrice="R$ 214,99"></app-card>

  <app-card gameCover="assets/bt-bad-company-2.jpg" gameLabel="Digital" gameType="PS4 | PS5" gamePrice="R$ 158,99"></app-card>
  
  <app-card gameCover="assets/residente.jpeg" gameLabel="Digital" gameType="PS4 | PS5" gamePrice="R$ 259,50"></app-card>

  <app-card gameCover="assets/bt-5.jpg" gameLabel="Exclusive" gameType="PS4" gamePrice="R$ 198,99"></app-card>


  <app-card gameCover="assets/cyberpunk.jpeg" gameLabel="Digital" gameType="PS4 | PS5" gamePrice="R$ 149,50"></app-card>
</div>