.card-label__container {
	position: absolute;
	bottom: 90px;
	right: 0;
}

.card-label__content {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0d0d0d;
	color: #fff;
	height: 40px;
	padding: 0 40px;
	font-size: 12px;
	font-family: "Segoe UI", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
